[submodule "DenizenLangServer/SharpDenizenTools"]
	path = DenizenLangServer/SharpDenizenTools
	url = https://github.com/DenizenScript/SharpDenizenTools
[submodule "DenizenLangServer/FreneticUtilities"]
	path = DenizenLangServer/FreneticUtilities
	url = https://github.com/FreneticLLC/FreneticUtilities
